@media (min-width: 768px) {
  
}
/*HEADER*/





/*!!!!!!!!!!!!!!!!!!!!!!!!!!!MAIN*/
/*TITLE*/




/*NAV*/



/*TEXT*/



  
/*
.image {
    width: 360px;
    height: 260px;
    margin-top: -35px;
    background: url(/img/CSP_image.png), lightgray 0px 0px / 100% 100% no-repeat;
    background-size: contain;
    clip-path: polygon(0 10%, 100% 10%, 100% 83%, 0% 83%);
}*/    

/*END*/
}