
body {
    background-color: #F8F8F8;
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: auto;
}


/*HEADER*/
.header {
    background-color: white;
}

.container {
    height: 88px;
    display: flex;
    justify-content: space-between;
}

.mob-menu {
    display: flex;
    align-items: center;
}

.request-menu {
    display: flex;
    align-items: center;
}

.request-menu__element:first-of-type::before {
    content: '';
    display: block;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
    position: absolute;
    right: 60px;
    bottom: 10px;   
} 

.mob-menu__button {
    background-color: inherit;
    margin-left: 16px; 
}
.mob-menu__element {
    margin-right: 16px;
}
.request-menu__element {
    margin-right: 16px;
    position: relative;
}


/*MAIN*/

.title {
    position: relative;
    color: #1B1C21;
    font-family: 'TT Lakes', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px; 
    letter-spacing: -0.6px;
    padding: 16px 24px 0 16px;
    
}

.title::before {
    content: '';
    display: block;
    width: 4px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    bottom: 10;
}


.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow: scroll;
    margin-left: 16px;
    z-index: auto;
    position: relative;
}

.nav__item {
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 24px 0;
    position: relative;
}

.nav__item:first-of-type {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
}

.nav__link {
    text-decoration: none;
    color: #7E7E82;
    font-size: 16px;
    text-wrap: nowrap;
    padding-left: 17px;
    padding-right: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.title::after {
    content: '';
    display: block;
    width: 24px;
    height: 40px;
    background:  linear-gradient(270deg, #F8F8F8 16.84%,  rgba(248, 248, 248, 0.00) 100%);
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 1;
} 

.textbox {
    margin-left: 16px;
    margin-right: 16px;
    display: block;
    height: 90px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px; 
    letter-spacing: 0.2px;
}

.textbox__text {
    font-weight: normal;
}

.expand {
    margin: 16px;
    margin-bottom: 30px;
    display: flex;
    gap: 8px;
}

.expand__img {
    background-color: #F8F8F8;
    vertical-align: top;
    
}

.image {
    width: 320px;
    height: 230px;
    margin-top: -40px;
    background: url(/img/CSP_image.png), lightgray 0px 0px / 100% 100% no-repeat;
    background-size: cover;
    clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%); 
  }
